helloworld/src/test/munit/helloworld-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="helloworld-test-suite.xml" />
	<flow name="helloworld-test-suiteFlow" doc:id="7c9fa7ee-0028-4cb6-913f-fe4395faa516" >
		<munit-tools:mock-when doc:name="Mock when" doc:id="6a8cadd2-865b-4e8f-a3f2-60d68c918c14" processor="ee:transform">
			<munit-tools:with-attributes >
				<munit-tools:with-attribute whereValue="Transform Message" attributeName="doc:name" />
			</munit-tools:with-attributes>
		</munit-tools:mock-when>
	</flow>
	<munit:test name="helloworld-test-suite-helloworldFlowTest" doc:id="c9943dc3-0e08-4098-b934-7f336c2f46c6" description="Test">
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="84813fef-e033-41ed-a9a8-ebc9b60f8904" >
				<munit:payload value="#[[1,2,3,4,5,6,7,8,9,10]]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to helloworldFlow" doc:id="b6f81bee-cfe2-40ef-b79a-4a2fe177a23d" name="helloworldFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="be429106-9e68-4307-986d-a99a7ba57a6d" is="#[MunitTools::notNullValue()]" expression="#[payload]"/>
		</munit:validation>
	</munit:test>


</mule>
